[Unit]
Description=Minecraft Sponge Server World Backup
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/sponged backup
User=sponge
Group=sponge

[Install]
WantedBy=multi-user.target
